{
    margin: 0 auto;
    padding: 0 auto;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFEFEF;
  font-size: 32px;
}

#container1 {
    display:grid ;
    border 1px solid red;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

#container1 .Titulo1 {
    grid-column: 1/3;
    padding: 9px;
    background-color: blanchedalmond;
    border-radius: 18px;
}

#container1 .Postitulo {
    grid-column: 2/1;
    padding: 9px;
    background-color: blanchedalmond;
    border-radius: 18px;
}

#container1 .Lista1 {
    grid-column: 2/2;
    padding: 9px;
    background-color: blanchedalmond;
    border-radius: 18px;
}


#container1 .Lista2 {
    grid-column: 2/3;
    padding: 9px;
    background-color: blanchedalmond;
    border-radius: 18px;
}

#container1 .Texto1 {
    grid-column: 1/2;
    padding: 9px;
    background-color: blanchedalmond;
    border-radius: 18px;
}

#container1 .introcancion,
#container1 .Titulo3,
#container1 .Audio1 {
  grid-column: 1 / 3;
  padding: 9px;
  background-color: blanchedalmond;
  border-radius: 5px;
}
